body {
    display: flex; /* Create a flex container for vertical layout */
    flex-direction: column; /* Arrange elements in a column */
    height: 100vh; /* Set body height to 100% of viewport height */
  }
  h1{
    font-family: 'Courier New', Courier, monospace;
  }
  
  #myCanvas {
    flex-grow: 1; /* Expand canvas to fill remaining space */
    display: block; /* Make canvas behave as a block-level element */
    width: 100%; /* Set canvas width to 100% of its container */
    height: 100%; /* Set canvas height to 100% of its container */
  }
  

